+research
.angular
.github
.husky
.idea
.nx/cache
.vscode
dist
node_modules
pgdata
rest
.czrc
.dockerignore
.editorconfig
.gitignore
.prettierignore
commitlint.config.js
docker-compose.yml
migrations.json
npm-debug.log
README.md
**/Dockerfile
