+research
.angular
.github
.husky
.idea
.vscode
coverage
dist
node_modules
pgdata
rest
.czrc
.dockerignore
.editorconfig
.env
.gitignore
commitlint.config.js
docker-compose*.yml
migrations.json
npm-debug.log
README.md
**/Dockerfile
